<section style="margin-top: 100px;" class="col-md-4 mx-auto">
<div *ngIf="token!=null">
  <div>
    <h2 class="text-center">Change Password</h2>
    <hr width="120">
    <br>
    <br>
    
      <div class="alert alert-success" *ngIf="msg !=undefined">{{msg}}</div>
      <div class="alert alert-danger" *ngIf="errorMsg !=undefined">{{errorMsg}}</div>
      <input class="form-control" type="text" [(ngModel)]="oldPassword" placeholder="Old Password" /><br>
      <input class="form-control" type="text" [(ngModel)]="newPassword" placeholder="New Password" /><br>
      <br>
      <div class="mt-2 text-center">
        <button class="btn btn-success" (click)="changepassword()">Change Password</button>
      </div>
  </div>
</div>
</section>